*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

:root{
    --blanco: white;
    --gris-oscuro: #2d2e30;
    --beige: #dacbb7;
    --azul: #16252e;
    --gris-claro: #f0ede8;

}


/*NAV hacer el buscador un filtro*/
nav{
    background-color: var(--gris-oscuro);
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}
nav img{
    height: 90%;
}

form input{
    background-color: var(--gris-claro);
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    margin-right: 15px;
    
}

form input:focus-visible{
    border: none;
    outline: none;
}


form button{
    border: none;
    border-radius: 0.1em;
    height: 30px;
    width: 70px;
    background-color: var(--gris-claro);
    transition: 0.2s;
}

form button:hover{
    transform: scale(110%);
    background-color: var(--beige);
    color: black;
    cursor: pointer;

}

/* Hast aca NAV */

/*Hero section*/
section.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(../img/hero_dress.jpg);
    background-size: cover;
    background-position: 0vh 10%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

section h1{
    color: white;
    text-align: center;
    width: 400px;
    border-radius: 0.1em;
}

/* Hasta aca Hero section */

/*Comienza el Main section con CARDS js*/

section.card-container{     /* ACA HACER FLEX DIRECTION COLUMN PARA MOBILE*/
    min-height: 50vh;
    height: max-content;
    /*outline: 5px solid aquamarine;*/
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: center;
}

div.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  margin: 20px;
  height: 60vh;
  width: 20vw;
  border: 3px solid var(--beige);
  border-radius: 0.5em;
  background-color: var(--gris-claro);

}

img.img-vestido{
  height: 80%;
  border-radius: 0.5em;

}

button.btn-reserva{
  border: 2px outset var(--beige);
  border-radius: 0.2em;
  background-color: var(--beige);
  padding: 3px;
  width: 40%;
  transition: 0.05s;
}

button.btn-reserva:hover{
  transform: scale(110%);
  cursor: pointer;
}
button.btn-reserva:active{
  transform: scale(110%);
  cursor: pointer;
  border: 2px inset var(--beige);
}





/* Hasta aca con section CARDS */

/*Footer*/
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--gris-oscuro);
    height: 30vh;
    color: white;
  }
  
  .footer-logo{
    height: 150px;
    margin: 20px;
  }
  
  
  footer a img{
    height: 50px;
  }
  footer a{
    margin: 20px;
  }
  
  footer h2{
    margin: 20px;
  }
footer iframe{
    height: 90%;
    border-radius: 1em;
}




