*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

:root{
    --blanco: white;
    --gris-oscuro: #2d2e30;
    --beige: #dacbb7;
    --azul: #16252e;
    --gris-claro: #f0ede8;

}


/*NAV hacer el buscador un filtro*/
nav{
    background-color: var(--gris-oscuro);
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vw;
}
nav img{
    height: 90%;
}

form input{
    background-color: var(--gris-claro);
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 0.1em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    margin-right: 15px;
    
}

form input:focus-visible{
    border: none;
    outline: none;
}


form button{
    border: none;
    border-radius: 0.1em;
    height: 30px;
    width: fit-content;
    padding: 0px 8px;
    background-color: var(--gris-claro);
    transition: 0.2s;
}

form button:hover{
    transform: scale(110%);
    background-color: var(--beige);
    color: black;
    cursor: pointer;

}

/* Hast aca NAV */

/*Hero section*/
section.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1)), url(../img/hero_dress.jpg);
    background-size: cover;
    background-position: 0vh 10%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
}

section h1{
    color: white;
    text-align: center;
    width: 400px;
    border-radius: 0.1em;
}

/* Hasta aca Hero section */

/* Seccion para los filtros*/

section.main_card_container{
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: start;
  padding: 0;
}


section.main_card_container section.talle-filters{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: start;
  padding: 30px;
}
section.talle-filters div{
  margin: 10px 5px 20px 5px;
}
section.talle-filters label{
  margin: 5px;
}

/*Comienza el Main section con CARDS js*/

section.card-container{     /* ACA HACER FLEX DIRECTION COLUMN PARA MOBILE*/
    min-height: 50vh;
    height: max-content;
    /*outline: 5px solid aquamarine;*/
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: center;
}

div.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  margin: 20px;
  height: 60vh;
  width: 20vw;
  min-width: 280px;
  min-height: 420px;
  border: 3px solid var(--beige);
  border-radius: 0.5em;
  background-color: var(--gris-claro);

}
div.card h3{
  text-transform: capitalize;
}

div.card h4 span{
  text-transform: capitalize;
}

img.img-vestido{
  width: 70%;
  height: fit-content;
  border-radius: 0.5em;

}

button.btn-reserva{
  border: 2px outset var(--beige);
  border-radius: 0.2em;
  background-color: var(--beige);
  padding: 3px;
  width: 40%;
  transition: 0.05s;
}

button.btn-reserva:hover{
  transform: scale(110%);
  cursor: pointer;
}
button.btn-reserva:active{
  transform: scale(110%);
  cursor: pointer;
  border: 2px inset var(--beige);
}





/* Hasta aca con section CARDS */




/* Section del carrito*/
section.carro-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  padding: 30px;
  min-height: 20vh;
  height: max-content;
}
#listaCarrito li{
  list-style-type: disc;
  padding: 5px;
  margin: 10px 0px 10px 30px;
  text-transform: capitalize;
}

.carrito-visible{
  border: 3px solid var(--beige);
  border-radius: 0.3em;
  margin: 5px;
  padding: 7px;
  width: 15vw;
  text-align: center;
}

section.carro-container button{
  background-color: var(--beige);
  border-radius: 0.3em;
  margin: 5px;
  padding: 7px;
  width: 15vw;
  text-align: center;
  font-size: 20px;
}
section.carro-container button:hover{
  transform: scale(110%);
  cursor: pointer;
}
section.carro-container button:active{
  transform: scale(110%);
  cursor: pointer;
  border: 2px inset var(--beige);
}



/*Footer*/
footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--gris-oscuro);
    height: 30vh;
    color: white;
  }
  
  .footer-logo{
    height: 150px;
    margin: 20px;
  }
  
  
  footer a img{
    height: 50px;
  }
  footer a{
    margin: 20px;
  }
  
  footer h2{
    margin: 20px;
  }
footer iframe{
    height: 90%;
    border-radius: 1em;
}




